@import '../../sass/variables';

.dice-selector-container{
  border-bottom: 1px solid #bbb;
}
.dice-selector{
  padding: 0 0 5px 0;

  .dice-selector-row{
    overflow: hidden;
  }

  .selectable-dice{
    height: 32px;
    width: 32px;
    border-radius: 5px;
    margin: 0 5px 5px 0;
    float: left;
    cursor: pointer;

    &.blue{
      background-color: $dice-blue;
    }
    &.red{
      background-color: $dice-red;
    }
    &.yellow{
      background-color: $dice-yellow;
    }
    &.green{
      background-color: $dice-green;
    }
    &.gray{
      background-color: $dice-gray;
    }
    &.black{
      background-color: $dice-black;
    }
    &.brown{
      background-color: $dice-brown;
    }
  }

}

